.pantalla-camara {
    width: 100vw;
    height: 100vh;

    background-image: url('../MULTIMEDIA/CamaraSimulacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes latido {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.interfaz-visor {
    color: rgba(0, 255, 47, 0.821);
    font-family: "Zen Dots", sans-serif;
    text-align: center;
    border: 2px solid rgba(0, 255, 47, 0.821);
    padding: 20px;
    border-radius: 10px;
}

.interfaz-visor i {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;

    /* Nombre de la animación | duración | suavizado | repetición infinita */
    animation: latido 1.5s ease-in-out infinite;

    color: rgba(0, 255, 47, 0.821);
}

.controles-camara {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.boton-flotante {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 255, 47, 0.821);
    border: 2px solid rgba(0, 255, 47, 0.821);
    border-radius: 15px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 120px;
    font-family: "Zen Dots", sans-serif;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.boton-flotante i {
    font-size: 20px;
}

.boton-flotante span {
    font-size: 10px;
}

.boton-flotante:hover {
    background-color: #126611;
    color: white;
    box-shadow: 0 0 15px #10be39;
}

.boton-flotante:active {
    transform: scale(0.9);
}