* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;      /* Altura exacta de la pantalla */
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/   /* BLOQUEA el scroll por completo */

    background-color: white;
    font-family: "Zen Dots", sans-serif;
    font-style: normal;
}